body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    background-color: #f0ecec;
}

#container {
    background-color: #4a65bd;
    margin: 0 auto;
    max-width: 800px;
    min-height: 600px;
    padding: 20px;
    border-radius: 10px;
}
#corner-image {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 150px;
    height: 150px;
}